.inputFieldWrapper {
	@apply relative pb-7;
}

.loading {
	&::after {
		content: "Please Wait";
		font-size: inherit;
		color: inherit;
		font-family: inherit;
		animation: loading-text 2s infinite;
	}
}

@keyframes loading-text {
	0% {
		content: "Please Wait.";
	}
	25% {
		content: "Please Wait..";
	}
	75% {
		content: "Please Wait...";
	}
	100% {
		content: "Please Wait";
	}
}

.radio {
	display: block;
	cursor: pointer;
	user-select: none;
	text-align: left;
	input {
		display: none;
		& + span {
			display: inline-block;
			position: relative;
			padding-left: 20px;
			&:before {
				content: "";
				display: block;
				position: absolute;
				top: 50%;
				left: 0px;
				border-radius: 50%;
				margin-right: 5px;
				width: 16px;
				height: 16px;
				border: 2px solid #f26722;
				background: transparent;
				transform: translateY(-50%);
			}
			&:after {
				content: "";
				display: block;
				width: 8px;
				height: 8px;
				background: #f26722;
				position: absolute;
				border-radius: 50%;
				top: 50%;
				left: 4px;
				opacity: 0;
				transform: translateY(-50%) scale(0, 0);
				transition: all 0.2s cubic-bezier(0.64, 0.57, 0.67, 1.53);
			}
		}
		&:checked + span:after {
			opacity: 1;
			transform: translateY(-50%) scale(1, 1);
		}
	}
}

.saveForLaterBtn {
	@apply relative;
	.radio {
		@apply absolute;
		left: 10px;
		top: 50%;
		width: 16px;
		height: 16px;
		transform: translateY(-50%);
		border-radius: 50%;
		border: 1px solid;
		&::after {
			content: "";
			position: absolute;
			left: 3px;
			top: 50%;
			width: 8px;
			height: 8px;
			transform: translateY(-50%);
			border-radius: 50%;
		}
		&.selected {
			&::after {
				background: var(--yellow);
			}
		}
	}
}
