.mytryLogo {
  svg {
    height: 70px;
    width: auto;
    position: relative;

    @media (max-width: 640px) {
      height: 50px;
      top: -0.5rem;
    }
  }
}

.navbar {
  text-transform: uppercase;
  @media screen and (max-width: 640px) {
    padding: 1.5rem 5%;
  }

  a {
    @media (max-width: 640px) {
      @apply text-sm;
    }
  }
}
