@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --purpleLight: #d8a2df;
  --orange: #f26722;
  --orangeLight: #fae6d7;
  --yellowDark: #f8ec00;
  --pink: #ed2385;
  --blue: #002ab2;
  --blueLight: #eddeef;
  --yellow: #fffa4d;
  --green: #034a38;
  --greenLight: #f7faee;
}

@font-face {
  font-family: "Briet";
  font-style: normal;
  font-weight: normal;
  src: local("Myriad Pro Regular"),
    url("/assets/fonts/briet/test-soehne-breit-kraftig.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Myriad Pro";
  font-style: normal;
  font-weight: normal;
  src: local("Myriad Pro Regular"),
    url("/assets/fonts/myriad-pro/MYRIADPRO-REGULAR.woff") format("woff");
  font-display: swap;
}

html,
body {
  height: 100%;
}

.font-primary {
  font-family: Briet;
}
.font-secondary {
  font-family: "Myriad Pro";
}

body {
  font-family: Briet;
}

#__next {
  height: 100%;
}
